.container {
    height: 500px;
    width: 500px;
    background-color: green;
    border: 2px solid red;
    display: flex;
}

.box {
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid brown;
    background-color: aqua;
    transition: 1s;

    transition-property: background-color;

    /* bad practice performance mai impact padta hai */
    /* transition-property: all; */

    /* transition-delay: 5s; */

    /* transition: transform 6s ease 1s; */

    /* transition: background-color 6s ease 1s; */

    /* transition: all 200ms ease ; */


    /* cubic-bezier curve made by us using inspect and modification */
    /* transition:  transform 700ms cubic-bezier(1,-1.19, 0, 1.98) 1s; */

    /* transition-property: transform;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(1,-1.19, 0, 1.98);
    transition-delay: 1s; */

    transition: transform 700ms ease 1s;
}

.box:hover {
    background-color: brown;
    /* transform: rotate(45deg); */
    transform: scale(1) translateX(500px) rotate(90deg);
}